/* .homeContainer {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .homeContainer strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .homeContainer p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  .homeContainer a {
    text-decoration: none;
  } */

  .home-container {
    text-align: center;
    height: 100%;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
  }

  .content-row {
    margin: 20px;
  }

  #form-instructions {
    margin: 20px;
  }
