.home-title {
  text-align: center;
}

.home-container {
  text-align: center;
  height: 90%;
  font-family: var(--body-font), sans-serif;
}

.content-container {
  height: 100%;
  margin: 0 auto;
}

.location-card {
  min-width: 50vw;
  max-width: 300px;
  margin: 10px auto;
  font-family: var(--body-font), sans-serif;
}
