.home-container {
  text-align: center;
  height: 90%;
}

.content-container {
  height: 100%;
  margin: 0 auto;
}

.location-card-title {
  font-size: 1.25rem;
  font-weight: normal;
}

.location-card {
  width: 90%;
  min-width: 200px;
  max-width: 400px;
  margin: 10px auto;
  margin-top: 15px;
  font-family: var(--body-font), sans-serif;
}

/* tablets */
@media (min-width: 481px) {
  .location-card-title {
    font-size: 1.5rem;
  }
}
