ion-toolbar {
    /* hacky to make it seem like there's no margin */
    --background: var(--ion-color-primary);
  }
  
.title {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.results-container {
  text-align: center;
  margin: 0 auto;
}

.results-card {
  min-width: 50vw;
  max-width: 300px;
  margin: 10px auto;
  
}

.results-list {
  list-style: none;
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  color: var(--ion-color-dark);
}

.frost-date {
  font-weight: bold;
}
