.text-entry {
    --background: var(--ion-color-tertiary);
}

.latLong {
    padding-left: 2em; 
    padding-right: 2em;   
    font-weight: bold;
}

.location-form {
    --background: var(--ion-color-light);
    --color: var(--ion-color-primary);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    border: 1px solid black;
}
