@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(./fonts/open_sans/OpenSans-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: local('Open Sans Bold'), url(./fonts/open_sans/OpenSans-Bold.ttf) format('opentype');
}

ion-toolbar {
    --background: var(--ion-color-primary);
}

ion-content {
    --background: var(--page-background);
}

/* text-align is specified in page's CSS */
ion-title {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    font-family: var(--header-font);
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
}
