@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(./fonts/open_sans/OpenSans-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: local('Open Sans SemiBold'), url(./fonts/open_sans/OpenSans-SemiBold.ttf) format('opentype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: local('Open Sans Bold'), url(./fonts/open_sans/OpenSans-Bold.ttf) format('opentype');
}

ion-toolbar {
    --background: var(--ion-color-primary);
}

ion-content {
    --background: var(--page-background);
    font-family: var(--body-font);
}

/* text-align is specified in page's CSS */
ion-title {
    background-color: var(--ion-color-primary);
    text-align: center;
    color: var(--ion-color-light);
    font-family: var(--title-font);
    font-size: var(--title-font-size-small);
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
}

ion-button {
    background-color: var(--ion-color-primary);
    font-family: var(--body-font);
}

h1.page-header {
    font-size: 20px;
    font-family: var(--page-header-font);
}
